@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}

html {
  scroll-behavior: smooth;
}

:root {
  --accent: rgb(43, 135, 189);
  --dark-accent: rgb(34, 101, 139);
}




/*--- SCROLL BAR --- */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #797979;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(65, 65, 65);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(48, 48, 48);
}



/*--- NAVBAR ---*/
.navbar{
    background-color: white;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
    height: 60px!important;
    padding: .8rem;
    box-shadow: 5px 5px 150px;
}

.navbarlogo{
    width:100px;
}

.navbar_brand{
  padding-left: 5%;
}

#navbarResponsive{
  padding-right: 5%;
}

.navbar-nav li{
  padding-right: 50px;
}

.nav-link{
  font-size: 1.1em !important;
}

/* --- HEADER --- */
.programming{
    background: url("Website Photos/Software Eng.JPG") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    height: 800px;
    width: 100%;
    color: white;
  }

#parallax_text{
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.lead{
    font-size: x-large;
}

#biography{
    background-color: whitesmoke;
    padding: 1.25% 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



#biography_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  max-width: 350px;
}


/* Style buttons */
.btn {
  background-color: Transparent;
  border: none; /* Remove borders */
}

#btn:hover{
  outline: 0 !important;

}

.btn:focus {
  outline: none;
  box-shadow: none;
}


#biography_buttons i{
  margin: 15px 5%;
  font-size: 40px;
}

/* Darker background on mouse-over */
#biography_buttons i:hover {
  color: var(--dark-accent ) !important;
}


#biography_text{
    text-align: right;
}

#biography_picture{
    border-radius: 50%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.jumbotron{
    background-color: whitesmoke;
}


.hiking{
  background: url("Website Photos/Walking.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
  width: 100%;
  color: white;
  text-shadow: 0px 0px 4px black;

}



#center-cropped{
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */
    height: 300px;
    width: 800px;
    
}

.parent {
  text-align: center;
  list-style-type: none;

}
.parent > ul {
  display: inline-block;
}

.email{
  display:inline-block;
  vertical-align:middle;
  }
  
#icon{
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left:-10px;
}

b{
  color: var(--accent);
}
  
hr{
  border-color: var(--accent);
  margin:5px 0px;
}
i{
  color: var(--accent);
  font-size:30px
}
  
/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}




